<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlScriptExec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="master" connectionString="Server=.; Database=master; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
      <SqlScriptExec.Properties.Settings>
        <setting name="WindowsAuthentication" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="UseDefaultLogPath" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LogPath" serializeAs="String">
          <value />
        </setting>
        <setting name="CreateExcelLog" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LogErrorsOnly" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IncludeSubFolders" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="WarnBeforeRunning" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExecuteScriptsUntilFinished" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="StopAfterErrorCount" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="ConsecutiveErrors" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="UserName" serializeAs="String">
          <value />
        </setting>
        <setting name="Password" serializeAs="String">
          <value />
        </setting>
      </SqlScriptExec.Properties.Settings>
    </userSettings>
</configuration>